:root{
    --color-acqua: rgb(85, 185, 157);
    --color-light-grey: rgb(63,84,107);
    --color-dark-grey: rgb(47, 62, 78);
    --color-text-light: rgb(255,255,255);
}

.ms_bg-dark-grey{
    background-color: var(--color-dark-grey);
}

.ms_bg-light-grey{
    background-color: var(--color-light-grey);
}

.ms_bg-aqua{
    background-color: var(--color-acqua);
}

.ms_card{
    background-color: #777;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
}