
.row{
    border: 1px solid red;
}

.container{
    border: 1px solid yellow;
}

[class*="col"]{
    border: 1px solid green;
}

header{
    background-color: rgb(47,62,78);
    height: 80px;
}

header nav{
    height: 100%;
} 

header .row{
    height: 100%;
}

[class*="col"]{
    height: 100%;
}

.hero.container-fluid{
    background-color: rgb(85, 185, 157);
}

.hero .container-fluid .container{
    height: 100%;
}

.hero .row:nth-child(1){
    height: 200px;
}

.hero .row{
    height: calc(200px / 3);
}

.portfolio .row{
    height: 350px;
}

.portfolio .row:nth-child(1), .portfolio .row:nth-child(2){
    height: 50px;
}

.about.container-fluid{
    height: 600px;
    background-color: rgb(85, 185, 157);
}

.about .row{
    height: 225px;
}
.about .row:nth-child(1), .about .row:nth-child(2), .about .row:nth-child(5){
    height: 50px
}
