
.row{
    border: 1px solid red;
}

.container{
    border: 1px solid yellow;
}

[class*="col"]{
    border: 1px solid green;
}

header{
    background-color: rgb(47,62,78);
    height: 60px;
}

header nav{
    height: 100%;
} 

header .row{
    height: 100%;
}

header [class*="col"]{
    height: 100%;
}

.hero.container-fluid{
    background-color: rgb(85, 185, 157);
    padding: 50px 0;
}

.hero.container-fluid .container{
    height: 100%;
}

.portfolio.container-fluid{
    padding: 50px 0;
}

[class*="col"]{
    height: 200px;
}

.heading-box{
    height: 100px;
}
.card-box{
    height: 200px;
} 
.button-box{
    height: 50px;
}
.p-box{
    height: 200px;
}
.form-box{
    height: 300px;
}

.about.container-fluid{
    background-color: rgb(85, 185, 157);
    padding: 80px 0;
}

.contact.container-fluid{
    padding: 50px 0;
}



.footer-top.container-fluid{
    background-color: rgb(63,84,107);
    padding: 40px 0;
}



.footer-bottom.container-fluid{
    background-color: rgb(47, 62, 78);
}

.footer-bottom [class*="col"]{
    height: 100px;
}
