:root{
    --color-acqua: 85, 185, 157;
    --color-light-grey: 63,84,107;
    --color-dark-grey: 47, 62, 78;
    --color-text-light: 255,255,255;
}

.ms_bg-dark-grey{
    background-color: rgb(var(--color-dark-grey));
}

.ms_bg-light-grey{
    background-color: rgb(var(--color-light-grey));
}

.ms_bg-aqua{
    background-color: rgb(var(--color-acqua));
}

.ms_contact-btn{
    background-color: rgb(var(--color-acqua)) !important;
}



main{
    padding-top: 100px;
}

.ms_card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.ms_card-overlay{
    display: none;
}


.ms_card-overlay i{
    font-size: 100pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.ms_card img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.ms_star{
    position: relative;
    width: 100px;
    height: auto;
    line-height: 15pt;
    margin: 0 auto;
    margin-bottom: 20px;
    color: black;
    font-size: 15pt; 
}

.ms_star--invert{
    filter: invert(1);
}

.ms_star::before{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.ms_star::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.social-icon{
    height: 60px;
    border: 1px solid white;
    width: 60px;
    border-radius: 100%;
    line-height: 50px;
    font-size: 20pt;
    display: inline-block;
    margin: 10px 5px;
    transition: border 0.2s linear, color 0.2s linear;
}


.social-icon i{
    vertical-align: middle;
}

footer a{
    color: rgb(var(--color-acqua)) !important;
    text-decoration: none;
}

@media (hover: hover) {
    header a:hover{
        color: rgb(var(--color-acqua)) !important;
    }
    .social-icon:hover{
        border: 1px solid rgb(var(--color-acqua));
        color: rgb(var(--color-acqua));
    }
    .ms_contact-btn:hover{
        filter: brightness(0.8);
    }
    .ms_card:hover .ms_card-overlay{
        position: absolute;
        inset: 0;
        background-color: rgba(var(--color-acqua), 0.5);
        display: block;
    }
  }