:root{
    --color-acqua: rgb(85, 185, 157);
    --color-light-grey: rgb(63,84,107);
    --color-dark-grey: rgb(47, 62, 78);
    --color-text-light: rgb(255,255,255);
}

.ms_bg-dark-grey{
    background-color: var(--color-dark-grey);
}

.ms_bg-light-grey{
    background-color: var(--color-light-grey);
}

.ms_bg-aqua{
    background-color: var(--color-acqua);
}

.ms_card{
    background-color: #777;
    border-radius: 25px;
    overflow: hidden;
    max-width: 415px;
}

.ms_card img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.ms_star{
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.ms_star--invert{
    filter: invert(1);
}

.ms_star img{
    transform: scale(1.4);
}

.ms_star::before{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.ms_star::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}