:root{
    --color-acqua: rgb(85, 185, 157);
    --color-light-grey: rgb(63,84,107);
    --color-dark-grey: rgb(47, 62, 78);
    --color-text-light: rgb(255,255,255);
}

.ms_bg-dark-grey{
    background-color: var(--color-dark-grey);
}

.ms_bg-light-grey{
    background-color: var(--color-light-grey);
}

.ms_bg-aqua{
    background-color: var(--color-acqua);
}

.ms_contact-btn{
    background-color: var(--color-acqua) !important;
}

.ms_contact-btn:hover{
    filter: brightness(0.8);
}
.ms_card{
    background-color: #777;
    border-radius: 25px;
    overflow: hidden;
    max-width: 415px;
}

.ms_card img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.ms_star{
    position: relative;
    width: 100px;
    height: auto;
    line-height: 15pt;
    margin: 0 auto;
    margin-bottom: 20px;
    color: black;
    font-size: 15pt; 
}

.ms_star--invert{
    filter: invert(1);
}

.ms_star img{
    transform: scale(1.4);
}

.ms_star::before{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.ms_star::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.social-icon{
    height: 60px;
    border: 2px solid white;
    width: 60px;
    border-radius: 100%;
    line-height: 50px;
    font-size: 20pt;
    display: inline-block;
    margin: 0 5px;
}

.social-icon i{
    vertical-align: middle;
}

footer a{
    color: var(--color-acqua) !important;
    text-decoration: none;
}